# ==========================================
# تنظیمات بک‌اند (FastAPI & Database)
# ==========================================
PROJECT_NAME="Optician E-Commerce API"
ENVIRONMENT="development"

# مقادیر دیتابیس دقیقاً همان مقادیر قبلی خودتان باشد
POSTGRES_USER=optician_user
POSTGRES_PASSWORD=optician_password
POSTGRES_DB=optician_db
POSTGRES_PORT=5432
POSTGRES_HOST=db

# تنظیمات امنیتی
SECRET_KEY="JHDsk2907hjcwq4132*&^%#$&()idoaskldq981023PI_DAZ><XCMKWOU@Oi190dkslJL"

# ==========================================
# تنظیمات فرانت‌اند (Next.js)
# ==========================================
NEXT_PUBLIC_API_URL="http://localhost:8000/api/v1"
INTERNAL_API_URL="http://backend:8000/api/v1"
NEXT_PUBLIC_IMAGE_DOMAIN="localhost"


# Backend
BACKEND_PORT=8000


# Frontend
FRONTEND_PORT=3000

REDIS_URL=redis://redis:6379/0