# Environments
.env
.venv/
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/

# OS & Docker
.DS_Store
.dockerignore